{% extends "layout.html" %}
{% block content %}
    <h1 style="margin-bottom: 20px">Your Video is Recorded</h1>
    <h1> Click your Excesice to Start Processing</h1>
    <h1> You will be redirected to home page after your video is processed</h1>


  <div class="container"  style="margin-top: 40px">
  <div class="row" style="margin-top: 30px;">
  <a href="http://192.168.43.186:8000/push_ups" class="btn btn-info" role="button" style="margin-right: 10px;">Push Ups</a>
  <a href="http://192.168.43.186:8000/pull_ups" class="btn btn-info" role="button" style="margin-right: 10px;">Pull Ups</a>
  <a href="http://192.168.43.186:8000/r_bicep_curl" class="btn btn-info" role="button" style="margin-right: 10px;">Right Bicep Curl</a>
  <a href="http://192.168.43.186:8000/high_plank" class="btn btn-info" role="button" style="margin-right: 10px;">High Plank</a>
  </div>
  <div class="row" style="margin-top: 30px;">
  <a href="http://192.168.43.186:8000/deep_squat" class="btn btn-info" role="button" style="margin-right: 10px;">Deep Squat</a>
  <a href="http://192.168.43.186:8000/leg_raise" class="btn btn-info" role="button" style="margin-right: 10px;">Leg Raise</a>
  <a href="http://192.168.43.186:8000/sit_up" class="btn btn-info" role="button" style="margin-right: 10px;">Sit Up</a>
  <a href="http://192.168.43.186:8000/dead_lift" class="btn btn-info" role="button" style="margin-right: 10px;">Dead Lift</a>
  </div>
  </div>

{% endblock content %}
